﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Capita.Master" AutoEventWireup="true" CodeBehind="ReadPosition.aspx.cs" Inherits="Capita.UI.WebUI.ReadPosition" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Button ID="btnShow" runat="server" OnClick="btnShow_Click" Text="Show" />
    <br />
    <br />
    <asp:GridView ID="gvShow" runat="server">
    </asp:GridView>
    <br />
    <asp:TextBox ID="txtFindByID" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Button ID="Button1" runat="server" Text="Find Position By ID" OnClick="Button1_Click" />
    <br />
</asp:Content>
