﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Capita.Master" AutoEventWireup="true" CodeBehind="ReadClient.aspx.cs" Inherits="Capita.UI.WebUI.ReadClient" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Show" />
    <br />
    <br />
    <br />
    <asp:GridView ID="gvReadClient" runat="server">
    </asp:GridView>
    <br />
    <br />
    <br />
    <asp:TextBox ID="txtClientID" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Button ID="Button2" runat="server" Text="Find Client By ID" OnClick="Button2_Click" />
    <br />
    <br />
    <br />
</asp:Content>
